.container{
    max-width: 480px;
    width: 100%;
}


/* MOBILE */
@media only screen and (max-width: 480px){
    .row{
        flex-wrap: wrap;
        gap: 46px;
    }
    .lessons .col,
    .steps .col,
    .why-us .col-left{
        width: 100%;
    }
    .why-us .col-right{
        margin: 0 auto;
    }
    .text-center{
        margin-bottom: 0px;
    }
    .why-us{
        background-color: rgb(31,31,31);
        margin-bottom: 0px;
        padding: 3rem 0rem;
    }
}